$primary-background: #37515C;
$headers-background: #EBF5EE;

html {
  background-color: $primary-background;
  border: 2px solid #000;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}


.main-header {
  background-color: $headers-background;
  border: 2px solid #000;
  display: flex;
  height: auto;
  justify-content: space-between;
  width: 100%;
}

.navButton {
  background-color: $headers-background;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  font-size: 130%;
  margin: 1%;
  // margin-left: 20%;
}

h1 {
  font-size: 255%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  width: 30%;
}

.user-info {
  font-size: 150%;
  // margin: auto;
  text-align: center;
  // width: 40%
}

.search-bar {
  display: flex;
  height: 100%;
  margin: 10px 0px 10px 0px;
  width: 30%;
}

.search-button {
  background-color: $headers-background;
  border: 1px solid #000;
  width: 20%;
  height: 58px;
  margin-top: 3px;
}

.search-image:hover,
.card-button:hover,
.navButton:hover,
.search-button:hover {
  background-color: #cff2da;
}


.search-image:active,
.card-button:active,
.navButton:active,
.search-button:active {
  background-color: #C3C2C6;
}

.search-input {
  border: 1px solid #000;
  font-size: 100%;
  height: 7vh;
  margin: 3px 7px 0px 0px;
  padding-left: 10px;
  width: 90%;
}


.card-button {
  border: 1px solid #000;
  height: 27px;
  margin: 3px;
}

.add-button {
  background-color: $headers-background;
  display: flex;
  width: 12%;
}

.add {
  width: 100%;
}

.hidden {
  display: none;
}

.display-recipe {
  display: flex;
  padding: 2em;
  flex-wrap: wrap;
}

.recipe-title-container {
  flex: 0 0 30%;
  padding-right: 2em
}

.close-btn {
  color: black;
  margin: 0 auto;
  background: lightgray;
  padding: .2em;
  margin: 1em auto 2em auto;
  width: 25%;

}

.close-btn-wrapper {
  flex: 0 0 100%;
  text-align: center;
}

.total-cost {
  color: white;
  font-size: 1.5em;
}

.alert {
  background-color: #76FF91;
  flex: 0 0 100%;
  margin-bottom: 1em;
  text-align: center;
  color: gray;
  font-size: 1.5em;
  line-height: 90%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;
}

.alert h3 {
  font-size: .9em;
}


.alert-cant-cook {
  background-color: #FF664C;
}

.can-or-cant-cook {
  flex: 0 0 100%
}

.you-will-need {
  flex: 0 0 100%
}

.display-recipe .recipe-picture {
  width: 100%;
  cursor: default;
  object-fit: cover;
  flex: 1 0 30%;
  height: 250px;
}

.shopping-list {
  font-size: .5em;
  line-height: 80%;
  width: 33%;
  color: white;
}


.favorite {
  background-color: $headers-background;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 13%;
}

.user-profile {
  text-align: center;
  background-color: #D7F2FE;
  border: 2px solid black;
  grid-area: aside;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 5%;
  margin-top: 10%;
  // padding-left: 5%;
}

.all-cards {
  display: grid;
  grid-area: cards;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 0 30px 30px;
  width: 75vw;
}

img {
  cursor: pointer;
}

.card {
  background-color: #D7F2FE;
  border: 3px solid #000;
  width: 100%;
}


.card-header {
  background-color: $headers-background;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: $headers-background;
  font-size: 220%;
  width: 100%;
}

.all-recipe-info {
  display: flex
}

.recipe-ingredients-needed {
  flex: 0 0 50%;
  margin-right: 1em;
  font-size: .6em
}

.recipe-instructions {
  flex: 0 0 50%;
  font-size: .3em;
}

.recipe-instructions p {
  font-size: 3em
}

h3 {
  color: $headers-background;
  font-size: 250%;
  margin-top: 0
}

.recipe-name {

  display: block;
  font-size: 150%;
  text-align: center;
}

.card-picture:hover {
  opacity: 0.7;
}

.card-picture:active {
  border: 2px solid #000;
}

.card-picture {
  border: 1px solid #000;
  height: 200px;
  margin: 10px 3% 8px 2.6%;
  width: 94%;
}

main {
  background-color: $primary-background;
  display: grid;
  grid-template-areas: 'aside cards';
  grid-template-columns: 1fr 4fr;
  height: 100%;
  width: 100%;
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

.add-active {
  background-color: red;
}

// media queries

@media only screen and (min-width: 1240px) {

}

@media only screen and (max-width: 1239px) {

}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 420px) {

}
